{# templates/home/username.html.twig #}
{% extends 'home/layout.html.twig'%}

{% block header %}
    {% if username == "anonymous" %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('login') }}">Sign in</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{path('analyse')}}">Analysis</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('image_stack_index') }}">Analysis list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Users List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_new') }}">Add new user</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Sign out</a>
        </li>
    {% endif %}
{% endblock %}

{% block page_contents %}Welcome {{username}}.
{% if username == "anonymous" %}
    <p>It looks like you're not logged in. Log in to access more options </p>
{% endif %}

{% endblock %}