{% extends 'home/username.html.twig' %}

{% block title %}Analysis index{% endblock %}

{% block body %}
    <h1>Analysis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>User</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Token</th>
                <th>Analysed</th>
                <th style="min-width: 10em;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_stack in image_stacks %}
            <tr>
                <td>{{ image_stack.id }}</td>
                <td>{{ image_stack.date ? image_stack.date|date('Y-m-d') : '' }}</td>
                <td>{{ image_stack.user }}</td>
                <td>{{ image_stack.name }}</td>
                <td>{{ image_stack.quantity }}</td>
                <td>{{ image_stack.token }}</td>
                <td>{{ image_stack.analysed ? 'Yes' : 'No' }}</td>
                <td>
                    <div style="display: flex; align-items: center; justify-content: space-around">
                        <a href="{{ path('visualize', {'token': image_stack.token}) }}">show</a>
                        <form method="post" action="{{ path('image_stack_delete', {'id': image_stack.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_stack.id) }}">
                            <button class="btn btn-danger" style="font-size:0.9em">Delete <i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_stack_new') }}">Create new</a>
{% endblock %}
